body{
    background-color: ghostwhite;
    font-size: 16px;
}
h4{text-align: center}
.form{
    background-color: #ffffff;
    margin: 150px 0;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}